{% extends 'summer_project/base.html' %}
{% load staticfiles %}
{% block mainblock %}
<head>
    <title>Multiple Users Form</title>
</head>
<h2>Multiple Users Form</h2>
<hr width="30%">
<div class="form-part">
    <div class="form-section">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
{% endblock%}