{% extends 'summer_project/base.html' %}
{% load staticfiles %}
{% block mainblock %}
<head>
    <title>Teachers</title>
</head>

<section id="main-content">
     <section class="wrapper">
       <div class="row">
         <div class="col-lg-9 main-chart">
           <!--CUSTOM CHART START -->
           <div class="border-head">
             <h3>Teachers List</h3>
           </div>

           <!--custom chart end-->
           <div class="row mt" style="display: flex;
    justify-content: space-around;">
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">


               {% for entry in teacher_list %}
                   <a href="{% url 'study_corner:fileslist' sm_pk=type code_pk=code teacher_name_pk=entry.0 %}" class="list-group-item list-group-item-action">{{entry.0}}</a>
               {% endfor %}

              </div>
            </div>
                     </div>
                     <!-- /col-lg-3 -->
                   </div>
                   <!-- /row -->
                 </section>
                </section>


{% endblock %}
