{% extends 'summer_project/base.html' %}
{% load staticfiles %}
{% block mainblock %}
<div > <br> <br> <br> <br> <br></div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info" >
            <div class="panel-heading">
              <h3 class="panel-title">{{user.username}}</h3>
              </div>
            <div class="panel-body" >
              <br>  <div class="row">
                <div class="col-md-6 col-lg-6 " align="center">
                  {%if teacher_details.pic%}
                    <img alt="User Pic" src="../..{{teacher_details.pic.url}}" class="img-circle img-responsive" width="250px" height="300px">
                  {%else%}
                    <img alt="User Pic" src="../../media/profile_pic/student_128.png" class="img-circle img-responsive">
                  {%endif%}
                </div>
                <div class=" col-md-6 col-lg-6 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name:</td>
                        <td>{{user.first_name}}</td>
                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td>{{user.last_name}}</td>
                      </tr>
                      <tr>
                        <td>Department:</td>
                        <td>{{teacher_details.department}}</td>
                      </tr>
                      <tr>
                        <td>Designation</td>
                        <td>{{teacher_details.designation}}</td>
                      </tr>
                      <tr>
                        <td>Area Of Specialization</td>
                        <td>{{teacher_details.specialization_area}}</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Educational Qualification</td>
                        <td>{{teacher_details.education_qualification}}</td>
                      </tr>
                      <tr>
                      <td>Additional Role</td>
                      <td>{{teacher_details.add_role}}</td>
                    </tr>
                    <tr>
                    <td>Website Link</td>
                    <td>{{teacher_details.web_link}}</td>
                  </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td>{{teacher_details.contact}}(Mobile)
                        </td>

                      </tr>

                    </tbody>
                  </table>



                </div>
              <div class="col-md-12 col-lg-12 " align="center">
                <a href="{% url 'summer_project:teachprofileedit' pk=teacherUser.pk%}" align="right" type="button" class="btn btn-warning">Edit Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'summer_project:changepassword' pk=teacherUser.pk %}" align="right" type="button" class="btn btn-warning">Change Passwword</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>



{% endblock %}
