#notes-cover {
	background: url(../img/notes.jpg) no-repeat center top;
	margin-top: -15px;
	background-attachment: relative;
	background-position: center center;
	min-height: 150px;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#notes-cover h3 {
	color: white;
	padding-top: 50px;
	margin: 0px;
	text-align: center;
}
#notes-cover h6 {
	color: white;
	text-align: center;
	margin-bottom: 0px;
	font-weight: 900;
}
.notes-cover {
	background: #4ECDC4;
	height: 50px;
}
.notes-cover:hover {
	background: #2f2f2f;
  -webkit-transition: background-color 0.6s;
  -moz-transition: background-color 0.6s;
  -o-transition: background-color 0.6s;
  transition: background-color 0.6s;
  cursor: pointer;
}
.notes-cover p {
	color: white;
	padding-top: 15px;
	font-weight: 400;
	font-size: 15px;
}
