<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>AKADEMIA | CCET</title>

  <!-- Favicons -->
  <!-- Bootstrap core CSS -->
  <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static "lib/font-awesome/css/font-awesome.css"  %}" rel="stylesheet" "/>
  <link rel="stylesheet" type="text/css" href="{% static "css/zabuto_calendar.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "lib/gritter/css/jquery.gritter.css"  %}"/>
  <!-- Custom styles for this template -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">
  <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
  <script src="{% static "lib/chart-master/Chart.js" %}"></script>


</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="{% url 'summer_project:dashboard' %}" class="logo"><b>AKADE<span>MIA</span></b></a>
      <!--logo end-->

      <div class="top-menu">
        <ul class="nav pull-right top-menu"
        >
          <li><a class="logout" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
    {% if user.is_staff == False %}
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered">
            {% if user.is_student and studentUser.pic %}
                <a href="{% url 'summer_project:studprofile' pk=studentUser.pk%}">
                <img alt="User Pic" src="{{ studentUser.pic.url }}"  class="img-circle" width="80">
            {% elif user.is_teacher and teacherUser.pic %}
                <a href="{% url 'summer_project:teachprofile' pk=teacherUser.pk%}">
                <img alt="User Pic" src="{{ teacherUser.pic.url }}" class="img-circle" width="80">
            {% else %}
                {% if user.is_student %}
                  <a href="{% url 'summer_project:studprofile' pk=studentUser.pk%}">
                {% elif user.is_teacher %}
                  <a href="{% url 'summer_project:teachprofile' pk=teacherUser.pk%}">
                {% endif %}
                <img src="{% static "images/student_128.png" %}"  class="img-circle" width="80">
            {% endif %}
          </a></p>
          <h5 class="centered">
          {% if user.first_name %}
            {{user.first_name}} {{user.last_name}}
          {% else %}
            {{user}}
          {% endif %}
        </h5>
          <li class="mt">
            <a class="active" href="{% url 'summer_project:dashboard' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>Study Corner</span>
              </a>
            {% if user.is_student %}
             <ul class="sub">
              <li><a href="{% url 'study_corner:batchlist' type_pk='notes' %}">Notes</a></li>
              <li><a href="{% url 'study_corner:batchlist' type_pk='question_paper' %}">Question Paper</a></li>
              <li><a href="{% url 'study_corner:sm_subjects' sm_pk='study_material' %}">Study Material</a></li>
             </ul>
            {% elif user.is_teacher %}
             <ul class="sub">
              <li><a href="{% url 'study_corner:t_subjectslist' t_type_pk='question_paper' %}">Question Paper</a></li>
              <li><a href="{% url 'study_corner:t_subjectslist' t_type_pk='study_material' %}">Study Material</a></li>
             </ul>
            {% endif %}
          </li>
          <li class="sub-menu">
            <a href="{% url 'calEvents:index' %}">
              <i class="fa fa-cogs"></i>
              <span>Calander</span>
              </a>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    {% endif %}
    </aside>

    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->

       {% block mainblock %}
       {% endblock %}

    <!--main content end-->
    <!--footer start-->

    <!--footer end-->
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static "lib/jquery/jquery.min.js" %}" ></script>

  <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}" ></script>
  <script class="include" type="text/javascript" src="{% static "lib/jquery.dcjqaccordion.2.7.js" %}" ></script>
  <script src="{% static "lib/jquery.scrollTo.min.js" %}" ></script>
  <script src="{% static "lib/jquery.nicescroll.js" %}"  type="text/javascript"></script>
  <script src="{% static "lib/jquery.sparkline.js" %}" ></script>
  <!--common script for all pages-->
  <script src="{% static "lib/common-scripts.js" %}" ></script>
  <script type="text/javascript" src="{% static "lib/gritter/js/jquery.gritter.js" %}" ></script>
  <script type="text/javascript" src="{% static "lib/gritter-conf.js" %}" ></script>
  <!--script for this page-->
  <script src="{% static "lib/sparkline-chart.js" %}" ></script>
  <script src="{% static "lib/zabuto_calendar.js" %}" ></script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>
