{% extends 'summer_project/base.html' %}
{% load staticfiles %}
{% block mainblock %}
<section id="main-content">
     <section class="wrapper">
       <div class="row">
         <div class="col-lg-9 main-chart">
           <!--CUSTOM CHART START -->
           <div class="border-head">
             <h3>Edit Profile</h3>
           </div>

           <!--custom chart end-->
           <div class="row mt">
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <form method="post">
            <div class="form-group post-form" >
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
      </div>
    </div>
             </div>
             <!-- /col-lg-3 -->
           </div>
           <!-- /row -->
         </section>
        </section>
{% endblock %}
