#mainBody {
    display: flex;
    flex-direction: row;
}

#menuContent {
    max-width: 20%;
    min-width: 5%;
    padding: 2%;
    background-color: darkgray;
    text-align: center;
}

#mainContent {
    margin-left: 3%;
    max-width: 80%;
    padding: 5% 0%;
    text-align: center;
}

#mainContent h1 {
    font-size: 500%;
}

#features_card_view .card {
    padding: 0px 0px 2% 0px;
    width: 5%;
    height: 2%;
    margin: 2rem;
}